@font-face {
    font-family: 'fontello';
    src: url("/vault-423/fonts/fontello.eot?0000");
    src: url("/vault-423/fonts/fontello.eot?0000#iefix") format("embedded-opentype"), url("/vault-423/fonts/fontello.woff2?0000") format("woff2"), url("/vault-423/fonts/fontello.woff?0000") format("woff"), url("/vault-423/fonts/fontello.ttf?0000") format("truetype"), url("/vault-423/fonts/fontello.svg?0000#fontello") format("svg");
    font-weight: normal;
    font-style: normal;
}

[v-cloak] {
    display: none;
}

html,
body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(224, 221, 0);
    font-family: ff-tisa-sans-web-pro, sans-serif;
    color: #fff;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 210px;

    h1 {
        margin-bottom: 70px;
        text-align: center;
        padding: 0 20px;
    }

    .lock-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        transform: scale(1.5);

        .lock {
            position: relative;
            height: 40px;
            display: flex;
            align-items: center;

            input[type="password"] {
                border-radius: 40px;
                height: 40px;
                width: 200px;
                border: 2px solid #fff;
                background: transparent;
                box-sizing: border-box;
                font-size: 0.5rem;
                color: #fff;
                text-shadow: 0 0 0 #fff;
                font-family: 'fontello';
                font-style: normal;
                font-weight: normal;
                speak: none;
                font-variant: normal;
                text-transform: none;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                letter-spacing: 2px;
                padding: 2px 50px 9px 20px;
                outline: none;
            }

            #lock-svg {
                position: absolute;
                right: 0;
                top: 0;
                width: 40px;
                height: 40px;

                #inner-lock {
                    transform-origin: center;
                }
            }

            .password-incorrect-icon {
                transform: scale(0);
                opacity: 0;
                visibility: hidden;
                position: absolute;
                right: 0;
                top: 0;
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .password-correct-icon {
                display: inline-block;
                position: absolute;
                top: 10px;
                right: 15px;
                opacity: 0;
                visibility: hidden;
                transform: scale(0);

                &:after {
                    content: '';
                    display: block;
                    width: 8px;
                    height: 15px;
                    border: solid #fff;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                }
            }
        }

        .password-incorrect-text {
            margin-top: 3px;
            transform: scale(0);
            opacity: 0;
            visibility: hidden;
            font-size: 0.7rem;
            letter-spacing: 0.03rem;
            text-align: center;
        }
    }
}

.url,
.logo {
    position: absolute;
    bottom: 40px;
    cursor: pointer;
}

.url {
    left: 50px;
    font-family: ff-dax-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.04rem;
    font-size: 0.8rem;

    a {
        text-decoration: none;
        color: #fff;
    }
}

.logo {
    right: 50px;

    img {
        width: 40px;
        height: auto;
    }
}
